.article {
    font-size: 1rem;
    margin-top: 1em;
    max-width: 53em;
    padding: 0 1.5em 1em;
    width: 100%;
    @media (min-width: 56em) {
      padding: 0 2em 1em;
    }
    @media (min-width: 63em) {
      padding: 0 4em 1em;
    }
    @media (min-width: 70em) {
        padding: 0 6em 1em;
    }

    // .article__summary
    &__summary {
        border: 0.3em solid $blue12;
        border-image: linear-gradient(to right, $blue13, $blue4) 1;
        border-width: 0.3em 0;
        font-size: 1.2em;
        margin-bottom: 1.8em;
        padding: 0.5em 0;

        @media (min-width: 56em) {
            font-size: 1.5em;
        }
    }

    // .article__p
    &__p {
      font-size: 1em;
    }

    // .article__h3
    &__h3 {
        display: inline-block;
        font: {
            family: 'GFS Didot', serif;
            size: 1.6em;
        }
        margin: 0.7em 0 0.2em;
    }

    // .article__h3--inverted
    &__h3--inverted {
      // extend parent
      @extend .article__h3;
      background-color: $text;
      color: white;
      font-weight: lighter;
      padding: 0 0.2em;
    }

    // .article__ul
    &__ul {
      @extend .code__text;
      background-color: white;

      .sans-serif {
        font-size: 1rem;
      }

      li {
        padding-top: 0.3em;
        padding-bottom: 0.3em;
      }
    }
}
