/*******************
 *  General rules  *
 *******************/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a {
  color: $blue13;
  text-decoration: none;
}

body {
  color: $text;
  font: {
    family: 'Open Sans', sans-serif;
  }
  line-height: 1.5rem;
  max-width: 100vw;
}

code {
  font: {
    family: 'Inconsolata', monospace;
    weight: bold;
  }
}
