/*******************
 *  Header styles  *
 *******************/

.header {
  align-items: flex-end;
  background-color: $blue2;
  display: flex;
  font: {
    family: 'GFS Didot', serif;
    size: 0.75rem;
  }
  min-height: 120px;
  padding: 2em 1em 1.5em;

  // scale .header's font-size
  @media (min-width: 31em) {
    font-size: 1rem;
  }
  @media (min-width: 47em) {
    font-size: 1.25rem;
  }

  // .header__h1
  &__h1 {
    margin: 0 auto;
    max-width: $max-width;
    width: 100%;
  }
}
