.nav {
  background-color: $background-gray;
  font-size: 0.8rem;
  max-width: calc(100% - 2em);
  padding: 1em 0.1em 1em 0.4em;
  width: 100%;

  @media (min-width: 350px) {
    font-size: 1rem;
    padding: 1.5em 1em 1em;
  }

  // When nav and article are displayed in a flex-row instead of flex-column
  @media (min-width: 56em) {
    flex: 0 0 22em;
  }

  // .nav__a
  &__a {
    display: inline-block;
    padding: 0.7em;

    @media (min-width: 800px) {
      // don't need as much padding on non-touch screen devices
      padding: 0.6em 0.3em;
    }
  }

  // .nav__a--full-width
  &__a--full-width {
    width: 100%;
  }

  // .nav__h2
  &__h2 {
    align-items: center;
    display: flex;
    justify-content: space-between;
    font: {
      family: inherit;
      size: inherit;
    }
    margin: 0;
    padding: 0 1em;



    // disable toggle button when container becomes large enough
    @media (min-width: 56em) {
      padding: 0;
      i {
          display: none;
        }
      }
  }

  // .nav__ol
  &__ol {
    padding-left: 10%;

    //.nav__ol li
    li {
      list-style: none;
    }

    // .nav__ol--first
    // This will be the element that has its display toggled on mobile
    &--first {
      display: none;
      list-style: none;
      padding-left: 0;

      // **Always display the navigation menu when container is big enough
      @media (min-width: 56em) {
        display: block !important;
      }
    }
  }
}
