/*******************
 *    Variables    *
 *******************/

$max-width: 1400px;

// colors

//blue1 in use for header background
$blue1: #F5F9FA;
$blue2: #E4EFF1;
$blue3: #D6E6EA;
$blue4: #C9DEE4;
$blue5: #BBD6DD;
$blue6: #AECED6;
$blue7: #92BEC8;
$blue8: #85B5C1;
$blue9: #77ADBB;
$blue10: #6AA5B4;
$blue11: #5293A3;
$blue12: #4B8695;

//blue13 in use for a links
$blue13: #387894;

$background-gray: #EEE;
