/*******************
 *    Variables    *
 *******************/

$max-width: 75rem;

// colors

//blue1 in use for header background
$blue1: #F5F9FA;
$blue2: #E4EFF1;
$blue3: #D6E6EA;

// border-image
$blue4: #C9DEE4;
$blue5: #BBD6DD;
$blue6: #AECED6;
$blue7: #92BEC8;
$blue8: #85B5C1;
$blue9: #77ADBB;

//.code border
$blue10: #6AA5B4;
$blue11: #5293A3;
$blue12: #4B8695;

//blue13 in use for a links/border-image
$blue13: #387894;

$background-gray: #EEE;

$text: #333;


// code colors
$comment: #708090;
$keyword: #0077AA;
$function: #DD4A68;
$number: #990055;
$operator: #a67f59;
$punctuation: #999;
$string: #690;

$caution-background:#fff3d4;
$caution-border: #f6b73c;

$danger-border: #e66465;
$danger-background: #fceded;
$danger-frown: #E03E3E;
